.CourseReportTotalMark-container {
    align-items: center;
    text-align: center;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    /* box-shadow: 0 2px 3px rgb(0 0 0 / 14%), 0 0 0 1px rgb(0 0 0 / 7%); */
    box-sizing: border-box;
    margin: auto;
    padding: 0 0 28px;
    width: 100%;
    height: 100%;

    position: fixed;
    position: relative;
    margin-top: 10px;
}

.CourseReportTotalMark-container .CourseEvaluationEntry-heading {
    background-color: #393939;
    color: white;
    border-radius: 4px 4px 0 0;
    padding: 6px 0;
}

.CourseReportTotalMark-container .CourseEvaluationEntry-heading h3 {
    padding: 0;
    margin: 0;
}

.CourseReportTotalMark-container select {
    background-color: #fff;
    border: 1px solid #E7E9EC;
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    margin: 10px;
    width: 50%;
    outline: none;

    transition: 0.5s;
    box-sizing: border-box;
}

.CourseReportTotalMark-container select:focus {
    border: 1px solid #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
    caret-color: #1877f2;
}

.CourseReportTotalMark-container input {
    background-color: #fff;
    border: 1px solid #E7E9EC;
    border-radius: 6px;
    font-size: 17px;
    padding: 4px 6px;
    /* margin: 8px 0; */
    width: 25%;

    outline: none;
    transition: 0.5s;
}

.CourseReportTotalMark-container input:focus {
    background-color: #E8F0FE;
    border: 1px solid #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
    caret-color: #1877f2;
}

.CourseReportTotalMark-container .button {
    border-radius: 20px;
    border: 1px solid tomato;
    background-color: tomato;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 30px;
    margin-top: 20px;
    right: 30px;
    align-items: flex-end;


    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.CourseReportTotalMark-container .button:hover {
    cursor: pointer;
    background-color: rgb(240, 72, 42);
}


.CourseReportTotalMark-container .Profile-info-container {
    background-color: #B8CFEE;
    color: black;
    border-radius: 4px 4px 0 0;
    padding: 6px;
    width: 100%;

    text-align: left;
    margin: auto;
    /* margin-top: 5px; */
    /* margin-left: 30px; */

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.CourseReportTotalMark-container .ChangePassword-container {
    margin: 5px 10px;
}

.CourseReportTotalMark-container .ChangePassword-container button {
    background-color: #1877f2;
    padding: 8px 14px;
    border: none;
    border-radius: 5px;
}

.CourseReportTotalMark-container .ChangePassword-container button:hover {
    background-color: #166FE5;
}

.table1 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table1 td,
.table1 th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.table2{
    width: 100%;
}
/* .table2 td,
.table2 th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
} */

.table1 tr:nth-child(even) {
    background-color: #dddddd;
}

.button1 {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 8px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

    border-radius: 5px;
}

.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}